* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

html {
    font-size: 93.75%
}

body {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    overflow-x: hidden;
    background-color: #1B1E21;
}